<div th:fragment="navigation">
   
    <div class="row">
        <div style="margin: auto 0; font-size: 1.2rem;" th:if="${finalized}" th:text="#{finalized}">
            finalized
        </div>
        
        <div style="margin: auto 0; font-size: 1.2rem;" th:if="${temporary}" th:text="#{temporary}">
            finalized
        </div>
        
<!--        <div style="margin: auto 0; font-size: 1.2rem;" th:if="${newApplication}" th:text="#{newApplication}">
            not saved
        </div>-->
        
    </div>   
    
     <div class="row button__row">
         <div class="col">
             
            <div class="backButton" th:unless="${firstPage}">
                <a th:href="@{'back?uuid='+${uuid}}" th:text="#{back}" class="nextLink">Next</a>
            </div>
             
         </div>
            
         <div class="col">
             <div class="tempButton" style="margin-left: 1rem;">
                <a   th:href="'#'" th:text="#{save}" class="nextLink" onclick="tempSave()">save</a>
            </div>
             
         </div>
     </div>
    
     
    
    
</div>


