<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{residence.info.title}">Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../static/css/main.css" th:href="@{/css/main.css}"/>
</head>
<body>
    <div th:replace="fragments/header"></div>
    <div class="container">
    <!-- <form method="post" action="#" th:action="@{/residenceInfo/save}" th:object="${ssiInformation}" id="infoForm"> -->
        
        <div class="formTitleContainer">
            <h4 th:text="#{power.supply.info.title}" class="formTitle">power Supply</h4>
            <div class="infoButton" th:text="i" id="powerInfoButton">i</div>
        </div>
        <hr class="divider--light">
        <div class="infoTextBox" id="powerInfoTextBox" style="display:none;">
            <div class="inftoTextContainer">
                <div th:text="#{power.info}"></div>
                <p th:text="#{power.list.header}"></p>
                <ul>
                    <li th:text="#{power.list.1}"></li>
                    <li th:text="#{power.list.2}"></li>
                    <li th:text="#{power.list.3}"></li>
                    <li th:text="#{power.list.4}"></li>
                </ul>
            </div>
        </div>
        <div class="row__container">
            <div class="row full__row">
                <div class="inputContainer inputContainer--big">
                    <label th:text="#{ownership}" class="label checkBox__label label--right"> Ownership </label>
                    <div class="inputContainerCheckbox">
                        <input type="text" id="ownershipMain" th:value="${ssiInfo != null}? ${ssiInfo[ownership]}" readonly hidden="true">
                        <div class="checkboxContainer ownership__checkboxContainer " id="ownerBoxContainer">
                            <input type="checkbox" id="owner" class="checkBox ownership__checkBox ownerBox" th:value="${false}" disabled>
                            <label th:text="#{owner}" class="label checkBox__label label--right"> Owner </label>
                        </div>  
                        <div class="checkboxContainer ownership__checkboxContainer" id="rentBoxContainer">
                            <input type="checkbox" id="rent" class="checkBox ownership__checkBox rentBox" th:value="${false}" disabled>
                            <label th:text="#{rent}" class="label checkBox__label label--right"> Rent </label>
                        </div>
                        <div class="checkboxContainer ownership__checkboxContainer" id="freeBoxContainer">
                            <input type="checkbox" id="free" class="checkBox ownership__checkBox freeBox" th:value="${false}" disabled>
                            <label th:text="#{free.residency}" class="label checkBox__label label--right"> Free residency </label>
                        </div>
                        <div class="checkboxContainer ownership__checkboxContainer " id="guestBoxContainer">
                            <input type="checkbox" id="guest" class="checkBox ownership__checkBox guestBox" th:value="${false}" disabled>
                            <label th:text="#{guest}" class="label checkBox__label label--right"> guest </label>
                        </div>
                        <div class="checkboxContainer ownership__checkboxContainer" id="homelessBoxContainer">
                            <input type="checkbox" id="homeless" class="checkBox ownership__checkBox homelessBox" th:value="${false}" disabled>
                            <label th:text="#{homeless}" class="label checkBox__label label--right"> homeless </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row full__row">
                <div class="inputContainer inputContainer--full">
                    <label th:text="#{power.supply}" class="label checkBox__label label--right"> Power Supply </label>
                    <div class="inputContainerCheckbox">
                        <input type="text" id="powerMain" th:value="${ssiInfo != null}? ${ssiInfo[supplyType]}" readonly hidden="true">
                        <div class="checkboxContainer power__checkboxContainer " id="deddieBoxContainer">
                            <input type="checkbox" id="deddie" class="checkBox power__checkBox ownerBox" th:value="${false}" disabled>
                            <label th:text="#{deddie}" class="label checkBox__label label--right"> DEDDIE </label>
                        </div>  
                        <div class="checkboxContainer power__checkboxContainer" id="settlementBoxContainer">
                            <input type="checkbox" id="settlement" class="checkBox power__checkBox settlementBox" th:value="${false}" disabled>
                            <label th:text="#{settlement}" class="label checkBox__label label--right"> Settlement </label>
                        </div>
                        <div class="checkboxContainer power__checkboxContainer" id="noSupplyBoxContainer">
                            <input type="checkbox" id="noSupply" class="checkBox power__checkBox noSupplyBox" th:value="${false}" disabled>
                            <label th:text="#{no.supply}" class="label checkBox__label label--right"> noSupply </label>
                        </div>
                        <div class="checkboxContainer power__checkboxContainer " id="homelessElBoxContainer">
                            <input type="checkbox" id="homelessEl" class="checkBox power__checkBox homelessElBox" th:value="${false}" disabled>
                            <label th:text="#{homeless.power}" class="label checkBox__label label--right"> Homeless </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row triplecol__row">
            <div class="inputContainer inputContainer--big">
                <label th:text="#{meter.number}" class="label input__label"> Residence Type </label>
                <input type="text" class="input residence__input input--big" th:value="${ssiInfo != null}? ${ssiInfo[meterNumber]}" readonly/>
            </div>
        </div>

        <div class="row button__row">
            <div class="fetchButton">
                <a th:href="@{'/multi/electricityBill/results?uuid='+${uuid}}" th:text="#{fetch.info}" class="fetchLink">Fetch Info</a>
            </div>
            <div class="submitButton">
                <a th:href="@{'/multi/electricityBill/save?uuid='+${uuid}}" th:text="#{next}" class="nextLink">Fetch Info</a>
            </div>
        </div>
    <!-- </form> -->
    </div>
    <div th:replace="fragments/footer"></div>
    <script type="text/javascript" src="../static/js/infoText.js" th:src="@{/js/infoText.js}"></script>
    <script type="text/javascript" src="../static/js/navigation.js" th:src="@{/js/navigation.js}"></script>
    <script type="text/javascript">

        const ownerBoxes = document.getElementsByClassName("ownership__checkBox");
        const ownershipBoxContainers = document.getElementsByClassName("ownership__checkboxContainer");
        const onwnershipMain = document.getElementById("ownershipMain");

        for(let i=0; i< ownerBoxes.length; i++){
            ownerBoxes[i].addEventListener('click', function(){
                if(this.checked == true){
                    ownershipBoxContainers[i].style.backgroundColor = "lightgrey";
                    onwnershipMain.value = ownerBoxes[i].id;
                    for(let j=0; j< ownerBoxes.length; j++){
                        if(j != i){
                            ownerBoxes[j].checked = false;
                            ownershipBoxContainers[j].style.backgroundColor = "rgb(226, 226, 226)";
                        }
                    }
                    
                } else {
                    ownershipBoxContainers[i].style.backgroundColor = "rgb(226, 226, 226)";
                    onwnershipMain.value = '';
                }
            });
        }

        for(let i=0; i< ownerBoxes.length; i++){
            if(ownerBoxes[i].id == onwnershipMain.value){
                ownerBoxes[i].checked = true;
                ownershipBoxContainers[i].style.backgroundColor = "lightgrey";
            }
        }

        const powerBoxes = document.getElementsByClassName("power__checkBox");
        const powerBoxContainers = document.getElementsByClassName("power__checkboxContainer");
        const powerMain = document.getElementById("powerMain");

        for(let i=0; i< powerBoxes.length; i++){
            powerBoxes[i].addEventListener('click', function(){
                if(this.checked == true){
                    powerBoxContainers[i].style.backgroundColor = "lightgrey";
                    powerMain.value = powerBoxes[i].id;
                    for(let j=0; j< powerBoxes.length; j++){
                        if(j != i){
                            powerBoxes[j].checked = false;
                            powerBoxContainers[j].style.backgroundColor = "rgb(226, 226, 226)";
                        }
                    }
                    
                } else {
                    powerBoxContainers[i].style.backgroundColor = "rgb(226, 226, 226)";
                    powerMain.value = '';
                }
            });
        }

        for(let i=0; i< powerBoxes.length; i++){
            if(powerBoxes[i].id == powerMain.value){
                powerBoxes[i].checked = true;
                powerBoxContainers[i].style.backgroundColor = "lightgrey";
            }
        }
    </script>
</body>
</html>