<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{personal.info.title}">Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="../static/css/main.css" th:href="@{/css/main.css}"/>
</head>
<body>
<div th:replace="fragments/header"></div>
<div class="container">
    <!-- <form method="post" action="#" th:action="@{/employment/save}" th:object="${employmentData}" id="infoForm"> -->
    <div th:replace="fragments/navigation"></div>

    <h4 th:text="#{employment.info.title}" class="formTitle">employment Info</h4>
    <hr class="divider--light">
    <div class="row__container">
        <div class="row doublecol__row">
            <div class="inputContainer inputContainer--big">
                <label th:text="#{employment.status}" class="label input__label"> Employment Status </label>
                <input type="text" class="input employment__input input--select"
                       th:value="${ssiInfo != null}? ${ssiInfo[employmentStatus]}">

            </div>
            <div class="inputContainer inputContainer--big">
                <label th:text="#{unemployed}"></label>
                <div class="inputContainerCheckbox">
                    <input type="text" id="unemployedText" th:value="${ssiInfo != null}? ${!ssiInfo[employed]}"
                           class="mainBox" hidden="true" readonly>
                    <div class="checkboxContainer checkboxContainer--false">
                        <input type="checkbox" id="falseBox" class="checkBox unemployed__checkBox falseBox"
                               th:value="${false}" disabled>
                        <label th:text="#{no}" class="label checkBox__label label--right"> No </label>
                    </div>
                    <div class="checkboxContainer checkboxContainer--true">
                        <input type="checkbox" id="trueBox" class="checkBox unemployed__checkBox trueBox"
                               th:value="${false}" disabled>
                        <label th:text="#{yes}" class="label checkBox__label label--right"> Yes </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row doublecol__row">
            <div class="inputContainer inputContainer--big">
                <label th:text="#{oaed.id}" class="label input__label"> oaed id </label>
                <input type="text" class="input employmentInfo__input input--big"
                       th:value="${ssiInfo != null}? ${ssiInfo[oaedId]}" readonly/>
            </div>
            <div class="inputContainer inputContainer--big">
                <label th:text="#{oaed.date}" class="label input__label"> oaed date </label>
                <input type="text" class="input employmentInfo__input input--big"
                       th:value="${ssiInfo != null}? ${ssiInfo[oaedDate]}" readonly/>
            </div>
        </div>
    </div>
    <div class="row button__row">
        <!--            <div class="fetchButton">
                        <a th:href="@{'/multi/employment/results?uuid='+${uuid}}" th:text="#{fetch.info}" class="fetchLink">Fetch Info</a>
                    </div>-->
        <!--            <div class="submitButton">
                        <a th:href="@{'/multi/employment/save?uuid='+${uuid}}" th:text="#{next}" class="nextLink">Fetch Info</a>
                    </div>-->

        <div class="submitButton">
            <a th:href="@{'/multi/employment/continue?uuid='+${uuid}}" th:text="#{next}" class="nextLink">Next</a>
        </div>
    </div>
    <!-- </form> -->
</div>
<div th:replace="fragments/footer"></div>
<script type="text/javascript" src="../static/js/main.js" th:src="@{/js/main.js}"></script>
<script type="text/javascript" src="../static/js/navigation.js" th:src="@{/js/navigation.js}"></script>
</body>
</html>