<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{personal.info.title}">Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="../static/css/main.css" th:href="@{/css/main.css}"/>
</head>
<body>
<div th:replace="fragments/header"></div>
<div class="container">
    <!-- <form method="post" action="#" th:action="@{/financialInfo/save}" th:object="${ssiInformation}" id="infoForm"> -->
    <div th:replace="fragments/navigation"></div>

    <h4 th:text="#{financialInfo.info.title}" class="formTitle">Financial Info</h4>
    <hr class="divider--light">
    <div class="row__container">
        <div class="row doublecol__row">
            <div class="inputContainer inputContainer--big">
                <label th:text="#{salaries}" class="label input__label"> Salaries </label>
                <div class="inputContainerInfo">
                    <input type="text" class="input personalInfo__input input--big"
                           th:value="${ssiInfo != null}? ${ssiInfo[salariesR]}"/>
                    <div class="infoButton__wrapper">
                        <div class="infoButton input__info" th:text="i">i</div>
                    </div>
                </div>
                <div class="infoTextBox" style="display:none;">
                    <div class="inftoTextContainer" th:text="#{salary.info.text1}"></div>
                    <hr class="divider--light">
                    <div class="inftoTextContainer" th:text="#{salary.info.text2}"></div>

                </div>
            </div>
            <div class="inputContainer inputContainer--big">
                <label th:text="#{pensions}" class="label input__label"> Pensions </label>
                <div class="inputContainerInfo">
                    <input type="text" class="input personalInfo__input input--big"
                           th:value="${ssiInfo != null}? ${ssiInfo[pensionsR]}" readonly/>
                    <div class="infoButton__wrapper">
                        <div class="infoButton input__info" th:text="i">i</div>
                    </div>
                </div>
                <div class="infoTextBox" style="display:none;">
                    <div class="inftoTextContainer" th:text="#{pension.info.text1}"></div>
                    <hr class="divider--light">
                    <div class="inftoTextContainer" th:text="#{pension.info.text2}"></div>
                </div>

            </div>
        </div>
        <div class="row doublecol__row">
            <div class="inputContainer inputContainer--big">
                <label th:text="#{farming}" class="label input__label"> Salaries </label>
                <div class="inputContainerInfo">
                    <input type="text" class="input personalInfo__input input--big"
                           th:value="${ssiInfo != null}? ${ssiInfo[farmingR]}" readonly/>
                    <div class="infoButton__wrapper">
                        <div class="infoButton input__info" th:text="i">i</div>
                    </div>
                </div>
                <div class="infoTextBox" style="display:none;">
                    <div class="inftoTextContainer" th:text="#{farming.info.text1}"></div>
                    <hr class="divider--light">
                    <div class="inftoTextContainer" th:text="#{farming.info.text2}"></div>

                </div>
            </div>
            <div class="inputContainer inputContainer--big">
                <label th:text="#{freelance}" class="label input__label"> Pensions </label>
                <div class="inputContainerInfo">
                    <input type="text" class="input personalInfo__input input--big"
                           th:value="${ssiInfo != null}? ${ssiInfo[freelanceR]}" readonly/>
                    <div class="infoButton__wrapper">
                        <div class="infoButton input__info" th:text="i">i</div>
                    </div>
                </div>
                <div class="infoTextBox" style="display:none;">
                    <div class="inftoTextContainer" th:text="#{freelance.info.text1}"></div>
                    <hr class="divider--light">
                    <div class="inftoTextContainer" th:text="#{freelance.info.text2}"></div>

                </div>
            </div>
        </div>
        <div class="row doublecol__row">
            <div class="inputContainer inputContainer--big">
                <label th:text="#{rent.income}" class="label input__label"> rentIncome </label>
                <div class="inputContainerInfo">
                    <input type="text" class="input personalInfo__input input--big"
                           th:value="${ssiInfo != null}? ${ssiInfo[rentIncomeR]}" readonly/>
                    <div class="infoButton__wrapper">
                        <div class="infoButton input__info" th:text="i">i</div>
                    </div>
                </div>
                <div class="infoTextBox" style="display:none;">
                    <div class="inftoTextContainer" th:text="#{rent.info.text1}">
                    </div>
                    <hr class="divider--light">
                    <div class="inftoTextContainer" th:text="#{rent.info.text2}"></div>
                </div>
            </div>
            <div class="inputContainer inputContainer--big">
                <label th:text="#{unemployment.benefit}" class="label input__label"> unemployment Benefit </label>
                <div class="inputContainerInfo">
                    <input type="text" class="input personalInfo__input input--big"
                           th:value="${ssiInfo != null}? ${ssiInfo[unemploymentBenefitR]}" readonly/>
                    <div class="infoButton__wrapper">
                        <div class="infoButton input__info" th:text="i">i</div>
                    </div>
                </div>
                <div class="infoTextBox" style="display:none;">
                    <div class="inftoTextContainer" th:text="#{unemployment.info.text1}">
                    </div>
                    <hr class="divider--light">
                    <div class="inftoTextContainer" th:text="#{unemployment.info.text2}"></div>
                </div>
            </div>
        </div>
        <div class="row doublecol__row">
            <div class="inputContainer inputContainer--big">
                <label th:text="#{other.benefits}" class="label input__label"> other Benefits </label>
                <div class="inputContainerInfo">
                    <input type="text" class="input personalInfo__input input--big"
                           th:value="${ssiInfo != null}? ${ssiInfo[otherBenefitsR]}" readonly/>
                    <div class="infoButton__wrapper">
                        <div class="infoButton input__info" th:text="i">i</div>
                    </div>
                </div>
                <div class="infoTextBox" style="display:none;">
                    <div class="inftoTextContainer" th:text="#{other.benefits.info.text}">
                    </div>
                </div>
            </div>
            <div class="inputContainer inputContainer--big">
                <label th:text="#{ekas}" class="label input__label"> ekas </label>
                <div class="inputContainerInfo">
                    <input type="text" class="input personalInfo__input input--big"
                           th:value="${ssiInfo != null}? ${ssiInfo[ekasR]}" readonly/>
                    <div class="infoButton__wrapper">
                        <div class="infoButton input__info" th:text="i">i</div>
                    </div>
                </div>
                <div class="infoTextBox" style="display:none;">
                    <div class="inftoTextContainer" th:text="#{ekas.info.text1}">
                    </div>
                    <hr class="divider--light">
                    <div class="inftoTextContainer" th:text="#{ekas.info.text2}"></div>
                </div>
            </div>
        </div>
        <div class="row doublecol__row">
            <div class="inputContainer inputContainer--big">
                <label th:text="#{other.income}" class="label input__label"> other Income </label>
                <div class="inputContainerInfo">
                    <input type="text" class="input personalInfo__input input--big"
                           th:value="${ssiInfo != null}? ${ssiInfo[otherIncomeR]}" readonly/>
                    <div class="infoButton__wrapper">
                        <div class="infoButton input__info" th:text="i">i</div>
                    </div>
                </div>
                <div class="infoTextBox" style="display:none;">
                    <div class="inftoTextContainer" th:text="#{other.income.info.text1}">
                    </div>
                    <hr class="divider--light">
                    <div class="inftoTextContainer" th:text="#{other.income.info.text2}"></div>
                </div>
            </div>
            <div class="inputContainer inputContainer--big">
                <label th:text="#{ergome}" class="label input__label"> ergome </label>
                <div class="inputContainerInfo">
                    <input type="text" class="input personalInfo__input input--big"
                           th:value="${ssiInfo != null}? ${ssiInfo[ergomeR]}" readonly/>
                    <div class="infoButton__wrapper">
                        <div class="infoButton input__info" th:text="i">i</div>
                    </div>
                </div>
                <div class="infoTextBox" style="display:none;">
                    <div class="inftoTextContainer" th:text="#{ergome.info.text1}">
                    </div>
                    <hr class="divider--light">
                    <div class="inftoTextContainer" th:text="#{ergome.info.text2}"></div>
                </div>
            </div>
        </div>
    </div>


    <h4 th:text="#{asset.info.title}" class="formTitle">Financial Info</h4>
    <hr class="divider--light">
    <div class="row__container">
        <div class="row doublecol__row">
            <div class="inputContainer inputContainer--big">
                <label th:text="#{deposit.interest}" class="label input__label"> deposit Interest </label>
                <div class="inputContainerInfo">
                    <input type="text" class="input personalInfo__input input--big"
                           th:value="${ssiInfo != null}? ${ssiInfo[depositInterestA]}" readonly/>
                    <div class="infoButton__wrapper">
                        <div class="infoButton input__info" th:text="i">i</div>
                    </div>
                </div>
                <div class="infoTextBox" style="display:none;">
                    <div class="inftoTextContainer" th:text="#{deposit.interest.info.text1}">
                    </div>
                    <hr class="divider--light">
                    <div class="inftoTextContainer" th:text="#{deposit.interest.info.text2}"></div>
                </div>
            </div>
            <div class="inputContainer inputContainer--big">
                <label th:text="#{deposits}" class="label input__label"> deposits </label>
                <div class="inputContainerInfo">
                    <input type="text" class="input personalInfo__input input--big"
                           th:value="${ssiInfo != null}? ${ssiInfo[depositsA]}" readonly/>
                    <div class="infoButton__wrapper">
                        <div class="infoButton input__info" th:text="i">i</div>
                    </div>
                </div>
                <div class="infoTextBox" style="display:none;">
                    <div class="inftoTextContainer" th:text="#{deposits.info.text}">
                    </div>
                </div>
            </div>
        </div>
        <div class="row doublecol__row">
            <div class="inputContainer inputContainer--big">
                <label th:text="#{domestic.real.estate}" class="label input__label"> domestic Real Estate </label>
                <div class="inputContainerInfo">
                    <input type="text" class="input personalInfo__input input--big"
                           th:value="${ssiInfo != null}? ${ssiInfo[domesticRealEstateA]}" readonly/>
                    <div class="infoButton__wrapper">
                        <div class="infoButton input__info" th:text="i">i</div>
                    </div>
                </div>
                <div class="infoTextBox" style="display:none;">
                    <div class="inftoTextContainer" th:text="#{real.estate.info.text}">
                    </div>
                </div>
            </div>
            <div class="inputContainer inputContainer--big">
                <label th:text="#{foreign.real.estate}" class="label input__label"> foreign Real Estate </label>
                <div class="inputContainerInfo">
                    <input type="text" class="input personalInfo__input input--big"
                           th:value="${ssiInfo != null}? ${ssiInfo[foreignRealEstateA]}" readonly/>
                    <div class="infoButton__wrapper">
                        <div class="infoButton input__info" th:text="i">i</div>
                    </div>
                </div>
                <div class="infoTextBox" style="display:none;">
                    <div class="inftoTextContainer" th:text="#{foreign.real.estate.info.text}">
                    </div>
                </div>
            </div>
        </div>
        <div class="row doublecol__row">
            <div class="inputContainer inputContainer--big">
                <label th:text="#{vehicle.value}" class="label input__label"> vehicle Value </label>
                <div class="inputContainerInfo">
                    <input type="text" class="input personalInfo__input input--big"
                           th:value="${ssiInfo != null}? ${ssiInfo[vehicleValueA]}" readonly/>
                    <div class="infoButton__wrapper">
                        <div class="infoButton input__info" th:text="i">i</div>
                    </div>
                </div>
                <div class="infoTextBox" style="display:none;">
                    <div class="inftoTextContainer" th:text="#{vehicle.value.info.text1}">
                    </div>
                    <hr class="divider--light">
                    <div class="inftoTextContainer" th:text="#{vehicle.value.info.text2}"></div>
                </div>
            </div>
            <div class="inputContainer inputContainer--big">
                <label th:text="#{investments}" class="label input__label"> investments </label>
                <div class="inputContainerInfo">
                    <input type="text" class="input personalInfo__input input--big"
                           th:value="${ssiInfo != null}? ${ssiInfo[investmentsA]}" readonly/>
                    <div class="infoButton__wrapper">
                        <div class="infoButton input__info" th:text="i">i</div>
                    </div>
                </div>
                <div class="infoTextBox" style="display:none;">
                    <div class="inftoTextContainer" th:text="#{investments.info.text1}">
                    </div>
                    <hr class="divider--light">
                    <div class="inftoTextContainer" th:text="#{investments.info.text2}"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="formTitleContainer">
        <h2 th:text="#{household.info.title}" class="formTitle">Disqualifying Criteria</h2>
        <div class="infoButton" th:text="i" id="infoButton">i</div>
    </div>
    <hr class="divider--light">
    <div class="infoTextBox" id="infoTextBox" style="display:none;">
        <h2 th:text="#{household.info.infobox.title}" class="infoTextBoxTitle"></h2>

    </div>
    <div th:if="${null != houseHoldInfo}">
        <table class="table householdTable">
            <thead>
            <tr>
                <th class="tableHeader householdHeader householdHeader--number" th:text="'#'"></th>
                <th class="tableHeader householdHeader householdHeader--member" th:text="#{household.member}"></th>
                <th class="tableHeader householdHeader householdHeader--relation"
                    th:text="#{household.member.relation}"></th>
            </tr>
            </thead>
            <tbody th:if="${houseHoldInfo}">
            <tr th:each="member, counter : ${houseHoldInfo}">
                <td class="column column__1" th:text="${counter.count}"></td>
                <span th:each="item, iter : ${member}">
                            <td class="column column__3" th:text="${item.value}"></td>
                        </span>
            </tr>

            </tbody>
        </table>
    </div>

    <div class="formTitleContainer">
        <h4 th:text="#{residence.info.title}" class="formTitle">Disqualifying Criteria</h4>
        <div class="infoButton" th:text="i" id="resInfoButtonC">i</div>
    </div>
    <hr class="divider--light">
    <div class="infoTextBox" id="residenceInfoTextBoxC" style="display:none;">
        <div class="inftoTextContainer" th:text="#{residence.info.info.text}">

        </div>
    </div>
    <div class="row__container">
        <div class="row triplecol__row">
            <div class="inputContainer inputContainer--big">
                <label th:text="#{street}" class="label input__label"> Street </label>
                <input type="text" class="input residence__input input--big"
                       th:value="${ssiInfo != null}? ${ssiInfo[street]}" readonly/>
            </div>
            <div class="inputContainer inputContainer--small">
                <label th:text="#{number}" class="label input__label"> Number </label>
                <input type="text" class="input residence__input input--small"
                       th:value="${ssiInfo != null}? ${ssiInfo[streetNumber]}" readonly/>
            </div>
            <div class="inputContainer inputContainer--mid">
                <label th:text="#{po.number}" class="label input__label"> PO Number </label>
                <div class="inputContainerInfo">
                    <input type="text" class="input residence__input input--mid"
                           th:value="${ssiInfo != null}? ${ssiInfo[po]}" readonly/>
                    <div class="infoButton__wrapper">
                        <div class="infoButton input__info" th:text="i" id="resInfoButtonR">i</div>
                    </div>
                </div>
                <div class="infoTextBox" id="residenceInfoTextBoxR" style="display:none;">
                    <div class="inftoTextContainer" th:text="#{residence.info.info.text}">
                    </div>
                </div>
            </div>

        </div>
        <div class="row doublecol__row">
            <div class="inputContainer inputContainer--big">
                <label th:text="#{residence.municipality}" class="label input__label"> Municipality </label>
                <div class="inputContainerInfo">
                    <input type="text" class="input residence__input input--select"
                           th:value="${ssiInfo != null}? ${ssiInfo[municipality]}" readonly>

                    <div class="infoButton__wrapper">
                        <div class="infoButton input__info" th:text="i" id="resInfoButton">i</div>
                    </div>
                </div>
                <div class="infoTextBox" id="residenceInfoTextBox" style="display:none;">
                    <div class="inftoTextContainer" th:text="#{residence.info.info.text}">
                    </div>
                </div>
            </div>
            <div class="inputContainer inputContainer--big">
                <label th:text="#{residence.prefecture}" class="label input__label"> Prefecture </label>
                <input type="text" class="input residence__input input--select"
                       th:value="${ssiInfo != null}? ${ssiInfo[prefecture]}" readonly>

            </div>

        </div>
    </div>


    <div class="row button__row">
        <!--                <div class="fetchButton">
                            <a th:href="@{'/multi/financialInfo/results?uuid='+${uuid}}" th:text="#{fetch.info}" class="fetchLink">Fetch Info</a>
                        </div>-->
        <!--                <div class="submitButton">
                            <a th:href="@{'/multi/financialInfo/continue?uuid='+${uuid}}" th:text="#{next}" class="nextLink">Fetch Info</a>
                        </div>-->


        <div class="submitButton">
            <a th:href="@{'/multi/financialInfo/continue?uuid='+${uuid}}" th:text="#{next}" class="nextLink">Next</a>
        </div>
    </div>
    <!-- </form> -->
</div>
<div th:replace="fragments/footer"></div>
<script type="text/javascript" src="../static/js/infoText.js" th:src="@{/js/infoText.js}"></script>
<script type="text/javascript" src="../static/js/navigation.js" th:src="@{/js/navigation.js}"></script>
</body>
</html>