<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{residence.info.title}">Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../static/css/main.css" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" href="../static/css/household.css" th:href="@{/css/household.css}"/>
</head>
<body>
    <div th:replace="fragments/header"></div>
    <div class="container">
            <div class="formTitleContainer">
                <h2 th:text="#{household.info.title}" class="formTitle">Disqualifying Criteria</h2>
                <div class="infoButton" th:text="i" id="infoButton">i</div>
            </div>
            <hr class="divider--light">
            <div class="infoTextBox" id="infoTextBox" style="display:none;">
                <h2 th:text="#{household.info.infobox.title}" class="infoTextBoxTitle"></h2>
                
            </div>
            <div th:if="${null != ssiInfo}">
                <table class="table householdTable" >
                    <thead>
                        <tr>
                            <th class="tableHeader householdHeader householdHeader--number" th:text="'#'"></th>
                            <th class="tableHeader householdHeader householdHeader--member" th:text="#{household.member}"></th>
                            <th class="tableHeader householdHeader householdHeader--relation" th:text="#{household.member.relation}"></th>
                            <th class="tableHeader householdHeader householdHeader--empty"></th>
                        </tr>
                    </thead>
                    <tbody th:if="${ssiInfo}" >
                        <tr  th:each="item, iter : ${ssiInfo}">
                            <td class="column column__1" th:text="${iter.count}"></td>
                            <td class="column column__2" th:text="${item.key}"></td>
                            <td class="column column__3" th:text="${item.value}"></td>
                            <td class="column column__4" ></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row button__row">
                <div class="fetchButton">
                    <a th:href="@{'/multi/householdInfo/results?uuid='+${uuid}}" th:text="#{fetch.info}" class="fetchLink">Fetch Info</a>
                </div>
                <!-- <div class="submitButton">
                    <a th:href="@{'/multi/householdInfo/save?uuid='+${uuid}}" th:text="#{next}" class="nextLink">Fetch Info</a>
                </div> -->
                <div class="submitFinalButton">
                    <a th:href="@{'/multi/householdInfo/save?uuid='+${uuid}}" th:text="#{submit}" class="submitFinal">Fetch Info</a>
                </div>
            </div>
        </div>
        <div th:replace="fragments/footer"></div>
        <script type="text/javascript" src="../static/js/infoText.js" th:src="@{/js/infoText.js}"></script>
        <script type="text/javascript" src="../static/js/navigation.js" th:src="@{/js/navigation.js}"></script>
    </body>
    </html>